
## <summary>test_policy policy</summary>
## <desc>
##      <p>
##              More descriptive text about test_policy.  The <desc>
##              tag can also use <p>, <ul>, and <ol>
##              html tags for formatting.
##      </p>
##      <p>
##              This policy supports the following test_policy features:
##              <ul>
##              <li>Feature A</li>
##              <li>Feature B</li>
##              <li>Feature C</li>
##              </ul>
##      </p>
## </desc>
#

########################################
## <summary>
##      Execute a domain transition to run test_policy.
## </summary>
## <param name="domain">
##      Domain allowed to transition.
## </param>
#

interface(`unconfined_runs_test',`
	gen_require(`
		type unconfined_t;
		role unconfined_r;
	')

       # Transition from the caller to the test domain.
	allow unconfined_t $1:process transition;
	role unconfined_r types $1;
      # Report back from the test domain to the caller.
      allow $1 unconfined_t:fd use;
      term_use_all_ptys($1)
      allow $1 unconfined_t:fifo_file { read write ioctl getattr };
      allow $1 unconfined_t:process { sigchld };

      # allow to use leaked fd from init/init scripts
      allow $1 init_t:fd use;
      allow $1 initrc_t:fd use;
      allow $1 console_device_t:chr_file { read write ioctl };
')

ifdef(`userdom_sysadm_entry_spec_domtrans_to',`', ` dnl
interface(`userdom_sysadm_entry_spec_domtrans_to',`
        gen_require(`
                type sysadm_t;
	')

        domain_entry_file_spec_domtrans(sysadm_t, $1)
        allow $1 sysadm_t:fd use;
        allow $1 sysadm_t:fifo_file rw_file_perms;
        allow $1 sysadm_t:process sigchld;
')
')

# Workarounds for refpolicy:

ifdef(`dev_rw_infiniband_dev', `', ` dnl
interface(`dev_rw_infiniband_dev', `
    dev_rw_generic_blk_files($1)
    dev_rw_generic_chr_files($1)
')
')

ifdef(`mount_rw_pid_files', `', ` dnl
interface(`mount_rw_pid_files', `
    mount_rw_runtime_files($1)
')
')

# Refpolicy does not have admin_home_t - assume /root will be user_home_dir_t.
ifdef(`userdom_search_admin_dir', `', ` dnl
interface(`userdom_search_admin_dir', `
    userdom_search_user_home_content($1)
')
')

# If the macro is not defined, then most probably module_request permission
# is just not supported (and relevant operations should be just allowed).
ifdef(`kernel_request_load_module', `', ` dnl
interface(`kernel_request_load_module', `')
')
