############# Test kernel modules ###################
#
attribute kmoduledomain;

############# Test finit_module(2) / init_module(2) ####################
type test_kmodule_t;
testsuite_domain_type_minimal(test_kmodule_t)
unconfined_runs_test(test_kmodule_t)
typeattribute test_kmodule_t kmoduledomain;

allow test_kmodule_t self:capability { sys_module };
# Required for finit_module(2):
allow test_kmodule_t test_file_t:system { module_load };
# Required for init_module(2):
allow test_kmodule_t self:system { module_load };
allow test_kmodule_t kernel_t:system { module_request };
allow_lockdown_integrity(test_kmodule_t)

############### Deny cap sys_module ######################
type test_kmodule_deny_sys_module_t;
testsuite_domain_type_minimal(test_kmodule_deny_sys_module_t)
unconfined_runs_test(test_kmodule_deny_sys_module_t)
typeattribute test_kmodule_deny_sys_module_t kmoduledomain;

neverallow test_kmodule_deny_sys_module_t self:capability { sys_module };

############### Deny sys module_load ######################
type test_kmodule_deny_module_load_t;
testsuite_domain_type_minimal(test_kmodule_deny_module_load_t)
unconfined_runs_test(test_kmodule_deny_module_load_t)
typeattribute test_kmodule_deny_module_load_t kmoduledomain;

allow test_kmodule_deny_module_load_t self:capability { sys_module };
neverallow test_kmodule_deny_module_load_t test_file_t:system { module_load };
neverallow test_kmodule_deny_module_load_t self:system { module_load };

############### Deny sys module_request ######################
type test_kmodule_deny_module_request_t;
testsuite_domain_type_minimal(test_kmodule_deny_module_request_t)
unconfined_runs_test(test_kmodule_deny_module_request_t)
typeattribute test_kmodule_deny_module_request_t kmoduledomain;

allow test_kmodule_deny_module_request_t self:capability { sys_module };
allow test_kmodule_deny_module_request_t test_file_t:system { module_load };
allow test_kmodule_deny_module_request_t self:system { module_load };
allow_lockdown_integrity(test_kmodule_deny_module_request_t)
neverallow test_kmodule_deny_module_request_t kernel_t:system { module_request };

#
########### Allow these domains to be entered from sysadm domain ############
#
miscfiles_domain_entry_test_files(kmoduledomain)
userdom_sysadm_entry_spec_domtrans_to(kmoduledomain)
