########################################
#
# Policy for testing BPF map create and program load with BPF token

require {
	type bpf_t;
}

# Reference policy does not have fs_list_bpf_dirs()
ifdef(`fs_list_bpf_dirs', `', `
define(`fs_list_bpf_dirs', `allow $1 bpf_t:dir list_dir_perms;')
')

################### Allow map_create_as and prog_load_as ###################
fs_list_bpf_dirs(test_bpf_t)
allow test_bpf_t bpf_t:filesystem mount;
allow test_bpf_t root_t:dir mounton;
allow test_bpf_t self:bpf { map_create_as prog_load_as };
allow test_bpf_t self:cap2_userns { bpf perfmon };
allow test_bpf_t self:cap_userns { net_admin setgid setuid sys_admin };
allow test_bpf_t self:user_namespace create;

############################ Deny map_create_as ############################
type test_bpf_deny_map_create_as_t;
testsuite_domain_type(test_bpf_deny_map_create_as_t)
typeattribute test_bpf_deny_map_create_as_t bpfdomain;
allow test_bpf_deny_map_create_as_t self:process { setrlimit };
allow test_bpf_deny_map_create_as_t self:capability { sys_resource sys_admin };

fs_list_bpf_dirs(test_bpf_deny_map_create_as_t)
allow test_bpf_deny_map_create_as_t bpf_t:filesystem mount;
allow test_bpf_deny_map_create_as_t root_t:dir mounton;
allow test_bpf_deny_map_create_as_t self:bpf { map_create map_read map_write prog_load prog_load_as };
allow test_bpf_deny_map_create_as_t self:cap2_userns { bpf };
allow test_bpf_deny_map_create_as_t self:cap_userns { setgid setuid sys_admin };
allow test_bpf_deny_map_create_as_t self:user_namespace create;

############################ Deny prog_load_as #############################
type test_bpf_deny_prog_load_as_t;
testsuite_domain_type(test_bpf_deny_prog_load_as_t)
typeattribute test_bpf_deny_prog_load_as_t bpfdomain;
allow test_bpf_deny_prog_load_as_t self:process { setrlimit };
allow test_bpf_deny_prog_load_as_t self:capability { sys_resource sys_admin };

fs_list_bpf_dirs(test_bpf_deny_prog_load_as_t)
allow test_bpf_deny_prog_load_as_t bpf_t:filesystem mount;
allow test_bpf_deny_prog_load_as_t root_t:dir mounton;
allow test_bpf_deny_prog_load_as_t self:bpf { map_create map_create_as map_read map_write prog_load };
allow test_bpf_deny_prog_load_as_t self:cap2_userns { bpf perfmon };
allow test_bpf_deny_prog_load_as_t self:cap_userns { net_admin setgid setuid sys_admin };
allow test_bpf_deny_prog_load_as_t self:user_namespace create;

################### Test BPF Token Capability Check ########################
type test_bpf_deny_helper_exec_t;
files_type(test_bpf_deny_helper_exec_t)

# Automatic transition when executing test_bpf_deny_helper_exec_t files
domain_entry_file(test_bpf_deny_token_cap_t, test_bpf_deny_helper_exec_t)
domtrans_pattern(test_bpf_t, test_bpf_deny_helper_exec_t, test_bpf_deny_token_cap_t)

allow test_bpf_t test_bpf_deny_token_cap_t:fd use;
allow test_bpf_deny_token_cap_t test_bpf_t:unix_stream_socket { read write getattr sendto };
allow test_bpf_t test_bpf_deny_token_cap_t:unix_stream_socket { read write getattr recvfrom };

######################## Deny Token Capability #############################
type test_bpf_deny_token_cap_t;
testsuite_domain_type(test_bpf_deny_token_cap_t)
typeattribute test_bpf_deny_token_cap_t bpfdomain;
allow test_bpf_deny_token_cap_t self:process { setrlimit };
allow test_bpf_deny_token_cap_t self:capability { sys_resource sys_admin };

fs_list_bpf_dirs(test_bpf_deny_token_cap_t)
allow test_bpf_deny_token_cap_t bpf_t:filesystem mount;
allow test_bpf_deny_token_cap_t root_t:dir mounton;
allow test_bpf_deny_token_cap_t test_bpf_t:bpf { map_create_as };
allow test_bpf_deny_token_cap_t self:cap_userns { setgid setuid sys_admin };
allow test_bpf_deny_token_cap_t self:cap2_userns { bpf perfmon };
allow test_bpf_deny_token_cap_t self:user_namespace create;

# CRITICAL: Do NOT grant capability permissions over test_bpf_t (the grantor)
#   allow test_bpf_deny_token_cap_t test_bpf_t:cap2_userns bpf;
# Omitting this rule above causes avc_has_perm in selinux_bpf_token_capable
# to fail which is the purpose of 'test_bpf_token_cap_cross_failure'
