#########################################
#
# Policy for testing the selinux_task_getpgid hook.
#

attribute test_getpgid_d;

# Domain for the target process
type test_getpgid_target_t;
testsuite_domain_type(test_getpgid_target_t)
corecmd_shell_entry_type(test_getpgid_target_t)
typeattribute test_getpgid_target_t test_getpgid_d;

# For writing to flag file:
allow test_getpgid_target_t test_file_t:fifo_file rw_file_perms;

# Domain that can get the target's process group ID.
type test_getpgid_yes_t;
testsuite_domain_type(test_getpgid_yes_t)
typeattribute test_getpgid_yes_t test_getpgid_d;

# Domain that cannot get the target's process group ID.
type test_getpgid_no_t;
testsuite_domain_type(test_getpgid_no_t)
typeattribute test_getpgid_no_t test_getpgid_d;

# Allow domain to be entered from the sysadm domain
miscfiles_domain_entry_test_files(test_getpgid_d)

# Give test_getpgid_yes_t the permission needed.
allow test_getpgid_yes_t test_getpgid_target_t:process getpgid;
