########################################
#
# Policy for testing prlimit(2) permission checks.

attribute prlimittestdomain;

# prlimit_test(permission)
# Generate a pair of test domains and rules for
# testing the specified permission check.
#
define(`prlimit_test', `
# Domain that is allowed $1 permission to the child.
type test_$1_t;
testsuite_domain_type(test_$1_t)
typeattribute test_$1_t prlimittestdomain;

# Child domain
type test_$1_child_t;
testsuite_domain_type(test_$1_child_t)
typeattribute test_$1_child_t prlimittestdomain;

# Transition from parent to child.
spec_domtrans_pattern(test_$1_t, test_file_t, test_$1_child_t)

# Allow parent $1 to child.
allow test_$1_t test_$1_child_t:process $1;

# Domain that is not allowed $1 permission.
type test_no_$1_t;
testsuite_domain_type(test_no_$1_t)
typeattribute test_no_$1_t prlimittestdomain;

# Transition from parent to child.
spec_domtrans_pattern(test_no_$1_t, test_file_t, test_$1_child_t)
')

prlimit_test(setrlimit)
prlimit_test(getrlimit)

#
# Common rules for all prlimit test domains.
#

# Entry into the test domains via the test program.
miscfiles_domain_entry_test_files(prlimittestdomain)
userdom_sysadm_entry_spec_domtrans_to(prlimittestdomain)
