#################################
#
# Policy for testing NO_NEW_PRIVS and nosuid transitions.
#

# An intermediate domain to avoid referencing the caller domain.
type test_intermediate_t;
testsuite_domain_type(test_intermediate_t)
# executes runcon
corecmd_exec_bin(test_intermediate_t)

# A domain bounded by the unconfined domain.
type test_bounded_t;
testsuite_domain_type(test_bounded_t)
typebounds test_intermediate_t test_bounded_t;

# The entrypoint type for this domain.
type test_bounded_exec_t;
files_type(test_bounded_exec_t)
domain_entry_file(test_bounded_t, test_bounded_exec_t)
domain_entry_file(test_intermediate_t, test_bounded_exec_t)

# Run it!  This should succeed on v3.18 or later, fail on older kernels.
domtrans_pattern(test_intermediate_t, test_bounded_exec_t, test_bounded_t)

# A domain that is not bounded by the unconfined domain.
type test_notbounded_t;
testsuite_domain_type(test_notbounded_t)

# The entrypoint type for this domain.
type test_notbounded_exec_t;
files_type(test_notbounded_exec_t)
domain_entry_file(test_notbounded_t, test_notbounded_exec_t)

# Run it!  This should fail always.
domtrans_pattern(test_intermediate_t, test_notbounded_exec_t, test_notbounded_t)

# A domain to which the unconfined domain is allowed nnp_transition.
type test_nnptransition_t;
testsuite_domain_type(test_nnptransition_t)

# The entrypoint type for this domain.
type test_nnptransition_exec_t;
files_type(test_nnptransition_exec_t)
domain_entry_file(test_nnptransition_t, test_nnptransition_exec_t)

# Run it!  This should succeed on v4.14 or later.
domtrans_pattern(test_intermediate_t, test_nnptransition_exec_t, test_nnptransition_t)
ifdef(`nnp_nosuid_transition_permission_defined', `
allow test_intermediate_t test_nnptransition_t:process2 nnp_transition;
')

# A domain to which the unconfined domain is allowed nosuid_transition.
type test_nosuidtransition_t;
testsuite_domain_type(test_nosuidtransition_t)

# The entrypoint type for this domain.
type test_nosuidtransition_exec_t;
files_type(test_nosuidtransition_exec_t)
domain_entry_file(test_nosuidtransition_t, test_nosuidtransition_exec_t)

# Run it!  This should succeed on v4.14 or later.
domtrans_pattern(test_intermediate_t, test_nosuidtransition_exec_t, test_nosuidtransition_t)
ifdef(`nnp_nosuid_transition_permission_defined', `
allow test_intermediate_t test_nosuidtransition_t:process2 nosuid_transition;
')

# A domain to which the unconfined domain is allowed both nosuid_transition and nnp_transition.
type test_nnpnosuidtransition_t;
testsuite_domain_type(test_nnpnosuidtransition_t)

# The entrypoint type for this domain.
type test_nnpnosuidtransition_exec_t;
files_type(test_nosuidtransition_exec_t)
domain_entry_file(test_nnpnosuidtransition_t, test_nnpnosuidtransition_exec_t)

# Run it!  This should succeed on v4.14 or later.
domtrans_pattern(test_intermediate_t, test_nnpnosuidtransition_exec_t, test_nnpnosuidtransition_t)
ifdef(`nnp_nosuid_transition_permission_defined', `
allow test_intermediate_t test_nnpnosuidtransition_t:process2 { nnp_transition nosuid_transition };
')
