#################################
#
# Policy for testing the setting of the
# AT_SECURE auxv flag based on noatsecure permission
#

attribute atsecuredomain;

# Domain for process that is not allowed noatsecure to the new domain.
type test_atsecure_denied_t;
testsuite_domain_type(test_atsecure_denied_t)
typeattribute test_atsecure_denied_t atsecuredomain;

# Domain for process that is allowed noatsecure to the new domain.
type test_atsecure_allowed_t;
testsuite_domain_type(test_atsecure_allowed_t)
typeattribute test_atsecure_allowed_t atsecuredomain;

# New domain for the process after the transition.
type test_atsecure_newdomain_t;
testsuite_domain_type(test_atsecure_newdomain_t)
typeattribute test_atsecure_newdomain_t atsecuredomain;

# Allow the domain entrypoints and transitions.
corecmd_bin_entry_type(atsecuredomain)
corecmd_shell_entry_type(atsecuredomain)
corecmd_exec_bin(atsecuredomain)
domain_entry_file(test_atsecure_newdomain_t, test_file_t)
domain_transition_pattern(test_atsecure_denied_t, test_file_t, test_atsecure_newdomain_t)
domain_transition_pattern(test_atsecure_allowed_t, test_file_t, test_atsecure_newdomain_t)
allow test_atsecure_newdomain_t test_atsecure_denied_t:fd use;
allow test_atsecure_newdomain_t test_atsecure_allowed_t:fd use;
allow_map(atsecuredomain, test_file_t, file)

# Only allow the allowed domain noatsecure permission to the
# new domain.
allow test_atsecure_allowed_t test_atsecure_newdomain_t:process noatsecure;

# Allow all of these domains to be entered from the sysadm domain.
userdom_sysadm_entry_spec_domtrans_to(atsecuredomain)
