#########################################
#
# Policy for testing the selinux_task_create hook
#

attribute test_create_d;

# Domain for process allowed to fork.
type test_create_yes_t;
testsuite_domain_type(test_create_yes_t)
unconfined_runs_test(test_create_yes_t)
typeattribute test_create_yes_t test_create_d;

# Domain for process not allowed to fork.
# The same permissions as test_create_yes_t, except process fork
type test_create_no_t;
# In refpolicy, all types with "domain" attribute are allowed
# process_fork. Thus, to prevent test_create_no_t from picking up this
# permission so we can test it, we omit the domain attribute. 
# Ideally, refpolicy would _not_ grant such permissions to every domain,
# as it makes the permission effectively unusable in real policy.
testsuite_domain_type_minimal(test_create_no_t)
unconfined_runs_test(test_create_no_t)
typeattribute test_create_no_t test_create_d;

# General rules for the test_create_d

# Allow domain to be entered from the sysadm domain.
miscfiles_domain_entry_test_files(test_create_d)
userdom_sysadm_entry_spec_domtrans_to(test_create_d)
