attribute binderdomain;

#
################################## Manager ##################################
#
type test_binder_mgr_t;
testsuite_domain_type(test_binder_mgr_t)
typeattribute test_binder_mgr_t binderdomain;
allow test_binder_mgr_t test_binder_client_t:binder { transfer };
allow test_binder_mgr_t device_t:chr_file { ioctl open read write };
allow_map(test_binder_mgr_t, device_t, chr_file)
allow test_binder_mgr_t self:binder { set_context_mgr };
# For writing to flag file:
allow test_binder_mgr_t test_file_t:fifo_file rw_file_perms;

#
########################### Service Provider ################################
#
type test_binder_provider_t;
testsuite_domain_type(test_binder_provider_t)
typeattribute test_binder_provider_t binderdomain;
allow test_binder_provider_t test_binder_mgr_t:binder { call transfer };
allow test_binder_provider_t device_t:chr_file { ioctl open read write };
allow_map(test_binder_provider_t, device_t, chr_file)
# For writing to flag file:
allow test_binder_provider_t test_file_t:fifo_file rw_file_perms;

#
#################### Service Provider no fd {use} ###########################
# test 7
type test_binder_provider_no_fd_t;
testsuite_domain_type(test_binder_provider_no_fd_t)
typeattribute test_binder_provider_no_fd_t binderdomain;
allow test_binder_provider_no_fd_t test_binder_mgr_t:binder { call transfer };
allow test_binder_client_t test_binder_provider_no_fd_t:binder { call impersonate };
allow test_binder_provider_no_fd_t device_t:chr_file { ioctl open read write };
allow_map(test_binder_provider_no_fd_t, device_t, chr_file)
# For writing to flag file:
allow test_binder_provider_no_fd_t test_file_t:fifo_file rw_file_perms;

#
################################# Client ####################################
#
type test_binder_client_t;
# Must use _minimal interface to avoid granting domain fd use permission
testsuite_domain_type_minimal(test_binder_client_t)
typeattribute test_binder_client_t binderdomain;
allow test_binder_client_t test_binder_provider_t:binder { call impersonate };
allow test_binder_client_t test_binder_mgr_t:binder { call };
allow test_binder_client_t test_binder_provider_t:fd { use };
allow test_binder_client_t device_t:chr_file { getattr ioctl open read write };
allow_map(test_binder_client_t, device_t, chr_file)

#
######################## Client No call Manager #############################
#
type test_binder_client_no_call_mgr_t;
testsuite_domain_type(test_binder_client_no_call_mgr_t)
typeattribute test_binder_client_no_call_mgr_t binderdomain;
allow test_binder_client_no_call_mgr_t test_binder_provider_t:binder { call impersonate };
allow test_binder_client_no_call_mgr_t device_t:chr_file { getattr ioctl open read write };
allow_map(test_binder_client_no_call_mgr_t, device_t, chr_file)

#
################## Client No call Service Provider ##########################
#
type test_binder_client_no_call_sp_t;
testsuite_domain_type(test_binder_client_no_call_sp_t)
typeattribute test_binder_client_no_call_sp_t binderdomain;
allow test_binder_mgr_t test_binder_client_no_call_sp_t:binder { transfer };
allow test_binder_client_no_call_sp_t test_binder_mgr_t:binder { call };
allow test_binder_client_no_call_sp_t device_t:chr_file { getattr ioctl open read write };
allow_map(test_binder_client_no_call_sp_t, device_t, chr_file)

#
######################## Client No impersonate ##############################
#
type test_binder_client_no_im_t;
testsuite_domain_type(test_binder_client_no_im_t)
typeattribute test_binder_client_no_im_t binderdomain;
allow test_binder_mgr_t test_binder_client_no_im_t:binder { transfer };
allow test_binder_client_no_im_t test_binder_provider_t:binder { call };
allow test_binder_client_no_im_t test_binder_mgr_t:binder { call };
allow test_binder_client_no_im_t test_binder_provider_t:fd { use };
allow test_binder_client_no_im_t device_t:chr_file { getattr ioctl open read write };
allow_map(test_binder_client_no_im_t, device_t, chr_file)

#
########################## Client No transfer ###############################
#
type test_binder_client_no_transfer_t;
testsuite_domain_type(test_binder_client_no_transfer_t)
typeattribute test_binder_client_no_transfer_t binderdomain;
allow test_binder_client_no_transfer_t test_binder_mgr_t:binder { call };
allow test_binder_client_no_transfer_t test_binder_provider_t:binder { call impersonate };
allow test_binder_client_no_transfer_t device_t:chr_file { getattr ioctl open read write };
allow_map(test_binder_client_no_transfer_t, device_t, chr_file)
