#################################
#
# Policy for testing file descriptor transfer via socket IPC
#

attribute fdreceivedomain;

# Type for test file.
type test_fdreceive_file_t;
files_type(test_fdreceive_file_t)

# Type for second test file.
type test_fdreceive_file2_t;
files_type(test_fdreceive_file2_t)

# Domain for client process.
type test_fdreceive_client_t;
testsuite_domain_type(test_fdreceive_client_t)
typeattribute test_fdreceive_client_t fdreceivedomain;

# Domain for second client process.
type test_fdreceive_client2_t;
testsuite_domain_type(test_fdreceive_client2_t)
typeattribute test_fdreceive_client2_t fdreceivedomain;

# Domain for server process.
# Can receive fds from client, not from client2.
# Can access test file, not second test file.
type test_fdreceive_server_t;
# Use the _minimal interface to avoid allowing fd use by default
testsuite_domain_type_minimal(test_fdreceive_server_t)
allow test_fdreceive_server_t self:unix_stream_socket create_stream_socket_perms;
typeattribute test_fdreceive_server_t fdreceivedomain;

# Grant the necessary permissions for the server domain.
## Create the Unix domain socket file.
allow test_fdreceive_server_t test_file_t:dir rw_dir_perms;
allow test_fdreceive_server_t test_file_t:sock_file create_sock_file_perms;
## Use fds created by the client domain.
allow test_fdreceive_server_t test_fdreceive_client_t:fd use;
## Access the test file.
allow test_fdreceive_server_t test_fdreceive_file_t:file rw_file_perms;

# For writing to flag file:
allow test_fdreceive_server_t test_file_t:fifo_file rw_file_perms;

# Grant the necessary permissions for the client domain.
## Open the test files.
allow test_fdreceive_client_t test_fdreceive_file_t:file rw_file_perms;
allow test_fdreceive_client_t test_fdreceive_file2_t:file rw_file_perms;
## Access the Unix domain socket file.
allow test_fdreceive_client_t test_file_t:sock_file rw_sock_file_perms;
## Connect to the server domain.
allow test_fdreceive_client_t test_fdreceive_server_t:unix_stream_socket connectto;

# Grant the necessary permissions for the client2 domain.
## Open the test files.
allow test_fdreceive_client2_t test_fdreceive_file_t:file rw_file_perms;
allow test_fdreceive_client2_t test_fdreceive_file2_t:file rw_file_perms;
## Access the Unix domain socket file.
allow test_fdreceive_client2_t test_file_t:sock_file rw_sock_file_perms;
## Connect to the server domain.
allow test_fdreceive_client2_t test_fdreceive_server_t:unix_stream_socket connectto;
