#
######### Test filesystem fanotify(7) policy module ##########
#

################# Test all functions ##########################
# For fanotify tests
allow test_filesystem_t self:filesystem { watch };
# Until 'fs_watch_all_fs(test_filesystem_t)' in Policy use:
gen_require(`
	type fs_t;
')
allow test_filesystem_t fs_t:filesystem { watch };
allow test_filesystem_t test_filesystem_file_t:dir { watch_sb watch_mount };

#################### Deny filesystem { watch } ######################
# hooks.c selinux_path_notify() FILESYSTEM__WATCH
type test_filesystem_no_watch_t;
domain_type(test_filesystem_no_watch_t)
unconfined_runs_test(test_filesystem_no_watch_t)
typeattribute test_filesystem_no_watch_t testdomain;
typeattribute test_filesystem_no_watch_t filesystemdomain;

allow test_filesystem_no_watch_t self:capability { sys_admin };
allow test_filesystem_no_watch_t self:filesystem { associate relabelto mount unmount relabelfrom };
allow test_filesystem_no_watch_t test_file_t:dir { mounton write remove_name rmdir };
fs_mount_all_fs(test_filesystem_no_watch_t)
fs_relabelfrom_all_fs(test_filesystem_no_watch_t)
fs_associate(test_filesystem_no_watch_t)

#################### Deny file { watch_sb } ######################
# hooks.c selinux_path_notify() FILE__WATCH_SB
type test_filesystem_no_watch_sb_t;
domain_type(test_filesystem_no_watch_sb_t)
unconfined_runs_test(test_filesystem_no_watch_sb_t)
typeattribute test_filesystem_no_watch_sb_t testdomain;
typeattribute test_filesystem_no_watch_sb_t filesystemdomain;

allow test_filesystem_no_watch_sb_t self:capability { sys_admin };
allow test_filesystem_no_watch_sb_t self:filesystem { watch associate relabelto mount unmount relabelfrom };
allow test_filesystem_no_watch_sb_t test_file_t:dir { mounton write remove_name rmdir };

fs_mount_all_fs(test_filesystem_no_watch_sb_t)
fs_relabelfrom_all_fs(test_filesystem_no_watch_sb_t)
fs_associate(test_filesystem_no_watch_sb_t)

#################### Deny file { watch_mount } ######################
# hooks.c selinux_path_notify() FILE__WATCH_MOUNT
type test_filesystem_no_watch_mount_t;
domain_type(test_filesystem_no_watch_mount_t)
unconfined_runs_test(test_filesystem_no_watch_mount_t)
typeattribute test_filesystem_no_watch_mount_t testdomain;
typeattribute test_filesystem_no_watch_mount_t filesystemdomain;

allow test_filesystem_no_watch_mount_t self:capability { sys_admin };
allow test_filesystem_no_watch_mount_t self:filesystem { watch associate relabelto mount unmount relabelfrom };
allow test_filesystem_no_watch_mount_t test_file_t:dir { mounton write remove_name rmdir };

fs_mount_all_fs(test_filesystem_no_watch_mount_t)
fs_relabelfrom_all_fs(test_filesystem_no_watch_mount_t)
fs_associate(test_filesystem_no_watch_mount_t)
