#################################
#
# Policy for testing boundary features
#

attribute test_bounds_domain;
attribute test_bounds_child_domain;
corecmd_bin_entry_type(test_bounds_domain)

# Type for test files
type test_bounds_file_red_t;
files_type(test_bounds_file_red_t)

type test_bounds_file_green_t;
files_type(test_bounds_file_green_t)

type test_bounds_file_blue_t;
files_type(test_bounds_file_blue_t)

#
# Permission to be allowed in this test case
# (r: read, w: write, s: setattr, big letter means permission via attribute)
#                       |  R  |  G  |  B  |
# ----------------------+-----+-----+-----|
# test_bounds_parent_t  | r-s | r-s | --- |
# test_bounds_child_t   | rws | --S | r-S |
# test_bounds_unbound_t | rws | --S | r-S |
#

# Domain for process that allows to other domains
type test_bounds_parent_t;
testsuite_domain_type(test_bounds_parent_t)
typeattribute test_bounds_parent_t test_bounds_domain;

allow test_bounds_parent_t test_bounds_file_red_t : file { read_file_perms setattr };
allow test_bounds_parent_t test_bounds_file_green_t : file { read_file_perms setattr };

# Domain for process that has a bounds type
type test_bounds_child_t;
testsuite_domain_type(test_bounds_child_t)
typeattribute test_bounds_child_t test_bounds_domain;
typeattribute test_bounds_child_t test_bounds_child_domain;
typebounds test_bounds_parent_t test_bounds_child_t;

allow test_bounds_child_t test_bounds_file_red_t : file { rw_file_perms setattr };
allow test_bounds_child_t test_bounds_file_blue_t : file { read_file_perms };

# Domain for process that does not have any bounds type
type test_bounds_unbound_t;
testsuite_domain_type(test_bounds_unbound_t)
typeattribute test_bounds_unbound_t test_bounds_domain;
typeattribute test_bounds_unbound_t test_bounds_child_domain;

allow test_bounds_unbound_t test_bounds_file_red_t : file { rw_file_perms setattr };
allow test_bounds_unbound_t test_bounds_file_blue_t : file { read_file_perms };

# Allow the test_bounds_parent_t to dyntrans
allow test_bounds_parent_t test_bounds_child_t   : process { dyntransition };
allow test_bounds_parent_t test_bounds_unbound_t : process { dyntransition };

# Allow permission via attribute
allow test_bounds_child_domain test_bounds_file_green_t : file { getattr setattr };
allow test_bounds_child_domain test_bounds_file_blue_t : file { getattr setattr };

# Allow all of these domains to be entered from sysadm domain
miscfiles_domain_entry_test_files(test_bounds_domain)
