#################################
#
# Policy for testing Unix/local domain sockets.
#

attribute unixsocketdomain;

# Domain for server process.
type test_unix_server_t;
domain_type(test_unix_server_t)
unconfined_runs_test(test_unix_server_t)
typeattribute test_unix_server_t testdomain;
typeattribute test_unix_server_t unixsocketdomain;

# Socket file for the server process.
type test_unix_server_sockfile_t;
files_type(test_unix_server_sockfile_t)
type_transition test_unix_server_t test_file_t:sock_file test_unix_server_sockfile_t;
allow test_unix_server_t test_file_t:dir rw_dir_perms;
allow test_unix_server_t test_unix_server_sockfile_t:sock_file { create unlink };

# For writing to flag file:
allow test_unix_server_t test_file_t:fifo_file rw_file_perms;

# Domain for stream client process.
type test_unix_stream_client_t;
domain_type(test_unix_stream_client_t)
unconfined_runs_test(test_unix_stream_client_t)
typeattribute test_unix_stream_client_t testdomain;
typeattribute test_unix_stream_client_t unixsocketdomain;

# Socket file for the client process.
type test_unix_client_sockfile_t;
files_type(test_unix_client_sockfile_t)
type_transition test_unix_stream_client_t test_file_t:sock_file test_unix_client_sockfile_t;
allow test_unix_stream_client_t test_file_t:dir rw_dir_perms;
allow test_unix_stream_client_t test_unix_client_sockfile_t:sock_file { create unlink };

# client can connect to the server via the socket file or via abstract sockets.
allow test_unix_stream_client_t test_unix_server_sockfile_t:sock_file write;
allow test_unix_stream_client_t test_unix_server_t:unix_stream_socket connectto;

# Domain for dgram client process.
type test_unix_dgram_client_t;
domain_type(test_unix_dgram_client_t)
unconfined_runs_test(test_unix_dgram_client_t)
typeattribute test_unix_dgram_client_t testdomain;
typeattribute test_unix_dgram_client_t unixsocketdomain;

# Reuse the same type for its socket file.
type_transition test_unix_dgram_client_t test_file_t:sock_file test_unix_client_sockfile_t;
allow test_unix_dgram_client_t test_file_t:dir rw_dir_perms;
allow test_unix_dgram_client_t test_unix_client_sockfile_t:sock_file { create unlink };

# client can send to the server via the socket file or via abstract sockets.
allow test_unix_dgram_client_t test_unix_server_sockfile_t:sock_file write;
allow test_unix_dgram_client_t test_unix_server_t:unix_dgram_socket sendto;

# And the server can send back to it in order to reply.
allow test_unix_server_t test_unix_client_sockfile_t:sock_file write;
allow test_unix_server_t test_unix_dgram_client_t:unix_dgram_socket sendto;

# Domain for socketpair(2) process.
type test_socketpair_t;
domain_type(test_socketpair_t)
unconfined_runs_test(test_socketpair_t)
typeattribute test_socketpair_t testdomain;
typeattribute test_socketpair_t unixsocketdomain;

# Allow all of these domains to be entered from the sysadm domain.
miscfiles_domain_entry_test_files(unixsocketdomain)
userdom_sysadm_entry_spec_domtrans_to(unixsocketdomain)
