#################################
#
# Policy for testing secretmem operations
#

# Private type for secret memory
type test_secretmem_inode_t;

# Domain not allowed to create secret memory
type test_nocreate_secretmem_t;
testsuite_domain_type_minimal(test_nocreate_secretmem_t)

# Domain allowed to create secret memory with the own domain type
type test_create_secretmem_t;
testsuite_domain_type_minimal(test_create_secretmem_t)
allow test_create_secretmem_t self:anon_inode { create map read write };

# Domain allowed to create secret memory with the own domain type and allowed to map WX
type test_create_wx_secretmem_t;
testsuite_domain_type_minimal(test_create_wx_secretmem_t)
allow test_create_wx_secretmem_t self:anon_inode { create map read write };
allow test_create_wx_secretmem_t self:process execmem;

# Domain not allowed to create secret memory via a type transition to a private type
type test_nocreate_transition_secretmem_t;
testsuite_domain_type_minimal(test_nocreate_transition_secretmem_t)
type_transition test_nocreate_transition_secretmem_t test_nocreate_transition_secretmem_t:anon_inode test_secretmem_inode_t "[secretmem]";

# Domain allowed to create secret memory via a type transition to a private type
type test_create_transition_secretmem_t;
testsuite_domain_type_minimal(test_create_transition_secretmem_t)
type_transition test_create_transition_secretmem_t test_create_transition_secretmem_t:anon_inode test_secretmem_inode_t "[secretmem]";
allow test_create_transition_secretmem_t test_secretmem_inode_t:anon_inode { create map read write };
