#################################
#
# Policy for testing Infiniband Pkey access.
#

attribute ibpkeydomain;

# Domain for process.
type test_ibpkey_access_t;
testsuite_domain_type(test_ibpkey_access_t)
typeattribute test_ibpkey_access_t ibpkeydomain;

# ibv_create_cq(3) locks some memory - make sure the domain can do that
# even with strict resource limits.
allow test_ibpkey_access_t self:capability ipc_lock;

# ibv_get_device_list(3) wants to list the devices via netlink by default
# (if denied it falls back to listing them via sysfs).
allow test_ibpkey_access_t self:netlink_rdma_socket create_socket_perms;

dev_rw_infiniband_dev(test_ibpkey_access_t)
dev_rw_sysfs(test_ibpkey_access_t)

# Define a pkey type for labeling pkeys during the test.
type test_ibpkey_t;
ifdef(`corenet_ib_pkey',`
corenet_ib_pkey(test_ibpkey_t)
')

ifdef(`corenet_ib_access_unlabeled_pkeys',`
corenet_ib_access_unlabeled_pkeys(test_ibpkey_access_t)
')
