#
################# KEY selinux-testsuite policy module ######################
#
attribute keydomain;

#
####################### Main key class tests #####################
#

#
# Use testsuite_domain_type_minimal() macro instead of domain_type() as
# domain_type() has allow 'key { link search }' so 'allow domain self:key
# ~{ link search };' would not work here.
#

type test_key_t;
testsuite_domain_type_minimal(test_key_t)
typeattribute test_key_t keydomain;

allow test_key_t self:process { setkeycreate };
allow test_key_t self:key { create write search read view link setattr };

# Set new context on a keyring:
type test_newcon_key_t;

allow test_key_t test_newcon_key_t:key { create write search view };

################# Deny process { setkeycreate } #######################
type test_no_setkeycreate_t;
testsuite_domain_type_minimal(test_no_setkeycreate_t)
typeattribute test_no_setkeycreate_t keydomain;

###################### Deny key { create } ###########################
type test_key_no_create_t;
testsuite_domain_type_minimal(test_key_no_create_t)
typeattribute test_key_no_create_t keydomain;

allow test_key_no_create_t self:process { setkeycreate };
allow test_key_no_create_t self:key { write search read view link setattr };

###################### Deny key { write } ###########################
type test_key_no_write_t;
testsuite_domain_type_minimal(test_key_no_write_t)
typeattribute test_key_no_write_t keydomain;

allow test_key_no_write_t self:process { setkeycreate };
allow test_key_no_write_t self:key { create search read view link setattr };

###################### Deny key { search } ###########################
type test_key_no_search_t;
testsuite_domain_type_minimal(test_key_no_search_t)
typeattribute test_key_no_search_t keydomain;

allow test_key_no_search_t self:process { setkeycreate };
allow test_key_no_search_t self:key { create write read view link setattr };

###################### Deny key { view } ###########################
type test_key_no_view_t;
testsuite_domain_type_minimal(test_key_no_view_t)
typeattribute test_key_no_view_t keydomain;

allow test_key_no_view_t self:process { setkeycreate };
allow test_key_no_view_t self:key { create write search read link setattr };

###################### Deny key { read } ###########################
type test_key_no_read_t;
testsuite_domain_type_minimal(test_key_no_read_t)
typeattribute test_key_no_read_t keydomain;

allow test_key_no_read_t self:process { setkeycreate };
allow test_key_no_read_t self:key { create write search view link setattr };

###################### Deny key { link } ###########################
type test_key_no_link_t;
testsuite_domain_type_minimal(test_key_no_link_t)
typeattribute test_key_no_link_t keydomain;

allow test_key_no_link_t self:process { setkeycreate };
allow test_key_no_link_t self:key { create write search read view setattr };

###################### Deny key { setattr } ###########################
type test_key_no_setattr_t;
testsuite_domain_type_minimal(test_key_no_setattr_t)
typeattribute test_key_no_setattr_t keydomain;

allow test_key_no_setattr_t self:process { setkeycreate };
allow test_key_no_setattr_t self:key { create write search read view link };

#
############## keyring_service / request_keys process tests ###############
#
# Check between a process and a keyring created by another process in a
# different security context.
#
type test_keyring_service_t;
testsuite_domain_type(test_keyring_service_t)
typeattribute test_keyring_service_t keydomain;

allow test_keyring_service_t self:process { setkeycreate };
allow test_keyring_service_t self:key { create write search read view link setattr };

allow test_keyring_service_t test_file_t:file execute_no_trans;
allow test_keyring_service_t self : process { dyntransition };
allow test_keyring_service_t test_request_keys_t:process dyntransition;
allow test_keyring_service_t test_request_keys_no_search_t:process dyntransition;
allow test_keyring_service_t test_request_keys_no_read_t:process dyntransition;
allow test_keyring_service_t test_request_keys_no_write_t:process dyntransition;
allow test_keyring_service_t test_request_keys_no_view_t:process dyntransition;
allow test_keyring_service_t test_request_keys_no_setattr_t:process dyntransition;
allow test_keyring_service_t test_request_keys_no_link_t:process dyntransition;

################################# request_keys ############################
type test_request_keys_t;
testsuite_domain_type_minimal(test_request_keys_t)
typeattribute test_request_keys_t keydomain;

allow test_request_keys_t self:key { create write search read view link setattr };
allow test_request_keys_t test_keyring_service_t:key { search read write view link setattr };

################### request_keys deny { search } ############################
type test_request_keys_no_search_t;
testsuite_domain_type_minimal(test_request_keys_no_search_t)
typeattribute test_request_keys_no_search_t keydomain;

allow test_request_keys_no_search_t self:key { create write search read view link setattr };
allow test_request_keys_no_search_t test_keyring_service_t:key { write link view setattr };

################### request_keys deny { read } ############################
type test_request_keys_no_read_t;
testsuite_domain_type_minimal(test_request_keys_no_read_t)
typeattribute test_request_keys_no_read_t keydomain;

allow test_request_keys_no_read_t self:key { create write search read view link setattr };
allow test_request_keys_no_read_t test_keyring_service_t:key { write search view setattr link };

################### request_keys deny { write } ############################
type test_request_keys_no_write_t;
testsuite_domain_type_minimal(test_request_keys_no_write_t)
typeattribute test_request_keys_no_write_t keydomain;

allow test_request_keys_no_write_t self:key { create write search read view link setattr };
allow test_request_keys_no_write_t test_keyring_service_t:key { read search view setattr link };

################### request_keys deny { view } ############################
type test_request_keys_no_view_t;
testsuite_domain_type_minimal(test_request_keys_no_view_t)
typeattribute test_request_keys_no_view_t keydomain;

allow test_request_keys_no_view_t self:key { create write search read view link setattr };
allow test_request_keys_no_view_t test_keyring_service_t:key { search write setattr link };

################### request_keys deny { setattr } ############################
type test_request_keys_no_setattr_t;
testsuite_domain_type_minimal(test_request_keys_no_setattr_t)
typeattribute test_request_keys_no_setattr_t keydomain;

allow test_request_keys_no_setattr_t self:key { create write search read view link setattr };
allow test_request_keys_no_setattr_t test_keyring_service_t:key { search read write link view };

################### request_keys deny { link } ############################
type test_request_keys_no_link_t;
testsuite_domain_type_minimal(test_request_keys_no_link_t)
typeattribute test_request_keys_no_link_t keydomain;

allow test_request_keys_no_link_t self:key { create write search read view link setattr };
allow test_request_keys_no_link_t test_keyring_service_t:key { read write search view setattr };

#
########### Allow these domains to be entered from sysadm domain ############
#
miscfiles_domain_entry_test_files(keydomain)
