#########################################
#
# Policy for testing the selinux_task_getsid hook.
#

attribute test_getsid_d;

# Domain for the target process
type test_getsid_target_t;
testsuite_domain_type(test_getsid_target_t)
typeattribute test_getsid_target_t test_getsid_d;

# For writing to flag file:
allow test_getsid_target_t test_file_t:fifo_file rw_file_perms;

# Domain that can get the target's session ID.
type test_getsid_yes_t;
testsuite_domain_type(test_getsid_yes_t)
typeattribute test_getsid_yes_t test_getsid_d;

# Domain that cannot get the target's session ID.
type test_getsid_no_t;
testsuite_domain_type(test_getsid_no_t)
typeattribute test_getsid_no_t test_getsid_d;

# Give test_getsid_yes_t the permission needed.
allow test_getsid_yes_t test_getsid_target_t:process getsession;
