mmap_anon_private
mmap_anon_shared
mmap_file_private
mmap_file_shared
mmap_hugetlb_anon_private
mmap_hugetlb_anon_shared
mmap_zero
mprotect_anon_private
mprotect_anon_shared
mprotect_file_private_execmod
mprotect_file_private_rwx
mprotect_file_private_rx
mprotect_file_shared
mprotect_heap
mprotect_hugetlb_anon_private
mprotect_hugetlb_anon_shared
mprotect_stack
mprotect_stack_thread
shmat
