name: checks
on: [push, pull_request]
jobs:
  style-check:
    runs-on: ubuntu-latest
    container:
      image: fedora:latest
    steps:
      - run: sudo dnf install -y astyle perltidy findutils git-core
      - uses: actions/checkout@v2
      - run: sudo chown $(id -u):$(id -g) .
      - run: tools/check-syntax -f && git diff --exit-code
  fedora-test:
    runs-on: macos-10.15
    strategy:
      fail-fast: false
      matrix:
        env:
          - { version: 34, kernel: default }
          - { version: 35, kernel: default }
          - { version: 35, kernel: secnext }
    env:
      FEDORA_VERSION: ${{ matrix.env.version }}
      KERNEL_TYPE: ${{ matrix.env.kernel }}
    steps:
      - uses: actions/checkout@v2
      # macOS sometimes allows symlinks to have permissions other than 777,
      # so change all symlink perms to match the Linux convention. Otherwise
      # the rsync run by Vagrant will complain that it can't copy over the
      # perms.
      - name: Fix symlink permissions
        run: find . -type link -exec chmod -h 777 \{\} \;
      - name: Treat compiler warnings as errors
        run: sed -i '' 's/-Wall/-Wall -Werror/' tests/Makefile
      - name: Create a Vagrant VM
        run: vagrant up
      - name: Wait for the machine to come up if rebooting
        run: while ! vagrant ssh -- true; do sleep 1s; done
      - name: Run SELinux testsuite
        run: vagrant ssh -- sudo make -C /root/testsuite test
      - name: Check .gitignore coverage
        run: test "$(vagrant ssh -- sudo git -C /root/testsuite ls-files -o --exclude-standard | wc -l)" -eq 0
